.wrapper {
    // variable
    --search-border-radius: 92px;
    --search-button-width: 52px;
    --search-spacer-top: 9px;
    --search-header: 46px;

    display: flex;
    height: var(--default-layout-header-height);
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
}

.content {
    width: var(--default-layout-content-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 20px;
}

// Action
.actions {
    display: flex;
    align-items: center;
}

.three-dots {
    margin-left: 16px;
    cursor: pointer;
    padding: 0 4px;
    display: block;
}

.profile-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 24px;
}

.inbox-icon,
.message-icon {
    margin-left: 19px;
    cursor: pointer;
}
